
@{
    ViewData["Title"] = "ContactoId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   <div class="card">
  <div class="card-header">
<h1>ContactoId</h1>
         
    </div>
        <h3>Id:</h3>
        <p>@Model.Id</p>
        <h3>Nombre Completo:</h3>
        <p>@Model.NombreCompleto</p>
        <h3>Email:</h3>
        <p>@Model.Correo</p>
        <h3>Teléfono:</h3>
        <p>@Model.Telefono</p>
    </div>
